<a href="https://colab.research.google.com/github/MGhimiray/Python-libraries/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Uploading .csv file for importing datas.

In [2]:
from google.colab import files
uploaded = files.upload()

Saving ds_salaries.csv to ds_salaries.csv

Import Numpy and panda modules

In [3]:
import numpy as np
import pandas as pd

reading the .csv file

In [4]:
data =  pd.read_csv('ds_salaries.csv')
print(data)

      work_year experience_level employment_type                 job_title  \
0          2023               SE              FT  Principal Data Scientist
1          2023               MI              CT               ML Engineer
2          2023               MI              CT               ML Engineer
3          2023               SE              FT            Data Scientist
4          2023               SE              FT            Data Scientist
...         ...              ...             ...                       ...
3750       2020               SE              FT            Data Scientist
3751       2021               MI              FT  Principal Data Scientist
3752       2020               EN              FT            Data Scientist
3753       2020               EN              CT     Business Data Analyst
3754       2021               SE              FT      Data Science Manager

       salary salary_currency  salary_in_usd employee_residence  remote_ratio  \
0       80000             EUR          85847                 ES           100
1       30000             USD          30000                 US           100
2       25500             USD          25500                 US           100
3      175000             USD         175000                 CA           100
4      120000             USD         120000                 CA           100
...       ...             ...            ...                ...           ...
3750   412000             USD         412000                 US           100
3751   151000             USD         151000                 US           100
3752   105000             USD         105000                 US           100
3753   100000             USD         100000                 US           100
3754  7000000             INR          94665                 IN            50

     company_location company_size
0                  ES            L
1                  US            S
2                  US            S
3                  CA            M
4                  CA            M
...               ...          ...
3750               US            L
3751               US            L
3752               US            S
3753               US            L
3754               IN            L

[3755 rows x 11 columns]

Printing the required amount of data

In [8]:
print(data.head(10))

   work_year experience_level employment_type                 job_title  \
0       2023               SE              FT  Principal Data Scientist
1       2023               MI              CT               ML Engineer
2       2023               MI              CT               ML Engineer
3       2023               SE              FT            Data Scientist
4       2023               SE              FT            Data Scientist
5       2023               SE              FT         Applied Scientist
6       2023               SE              FT         Applied Scientist
7       2023               SE              FT            Data Scientist
8       2023               SE              FT            Data Scientist
9       2023               SE              FT            Data Scientist

   salary salary_currency  salary_in_usd employee_residence  remote_ratio  \
0   80000             EUR          85847                 ES           100
1   30000             USD          30000                 US           100
2   25500             USD          25500                 US           100
3  175000             USD         175000                 CA           100
4  120000             USD         120000                 CA           100
5  222200             USD         222200                 US             0
6  136000             USD         136000                 US             0
7  219000             USD         219000                 CA             0
8  141000             USD         141000                 CA             0
9  147100             USD         147100                 US             0

  company_location company_size
0               ES            L
1               US            S
2               US            S
3               CA            M
4               CA            M
5               US            L
6               US            L
7               CA            M
8               CA            M
9               US            M

Printing the data types

In [9]:
print(data.dtypes)

work_year              int64
experience_level      object
employment_type       object
job_title             object
salary                 int64
salary_currency       object
salary_in_usd          int64
employee_residence    object
remote_ratio           int64
company_location      object
company_size          object
dtype: object

Descriding a particular data set present in a particular column

In [11]:
print(data['salary_in_usd'].describe())

count      3755.000000
mean     137570.389880
std       63055.625278
min        5132.000000
25%       95000.000000
50%      135000.000000
75%      175000.000000
max      450000.000000
Name: salary_in_usd, dtype: float64

Sorting the available records

In [26]:
print(data.sort_values('salary_in_usd', ascending=False))

      work_year experience_level employment_type  \
3522       2020               MI              FT
2011       2022               MI              FT
528        2023               SE              FT
3747       2021               MI              FT
3675       2021               EX              CT
...         ...              ...             ...
3685       2020               EN              FT
3667       2021               MI              FT
3537       2021               MI              PT
2578       2021               EN              FT
2684       2022               MI              FT

                               job_title   salary salary_currency  \
3522                  Research Scientist   450000             USD
2011                        Data Analyst   350000             GBP
528                         AI Scientist  1500000             ILS
3747  Applied Machine Learning Scientist   423000             USD
3675            Principal Data Scientist   416000             USD
...                                  ...      ...             ...
3685             Data Science Consultant   423000             INR
3667                      Data Scientist   420000             INR
3537       3D Computer Vision Researcher   400000             INR
2578                  Power BI Developer   400000             INR
2684                        NLP Engineer   120000             CZK

      salary_in_usd employee_residence  remote_ratio company_location  \
3522         450000                 US             0               US
2011         430967                 GB             0               GB
528          423834                 IL             0               IL
3747         423000                 US            50               US
3675         416000                 US           100               US
...             ...                ...           ...              ...
3685           5707                 IN            50               IN
3667           5679                 IN           100               US
3537           5409                 IN            50               IN
2578           5409                 IN            50               IN
2684           5132                 CZ           100               CZ

     company_size
3522            M
2011            M
528             L
3747            L
3675            S
...           ...
3685            M
3667            S
3537            M
2578            L
2684            M

[3755 rows x 11 columns]

In [27]:
print(data[data['salary_in_usd']>100000])

      work_year experience_level employment_type  \
3          2023               SE              FT
4          2023               SE              FT
5          2023               SE              FT
6          2023               SE              FT
7          2023               SE              FT
...         ...              ...             ...
3747       2021               MI              FT
3749       2021               SE              FT
3750       2020               SE              FT
3751       2021               MI              FT
3752       2020               EN              FT

                               job_title  salary salary_currency  \
3                         Data Scientist  175000             USD
4                         Data Scientist  120000             USD
5                      Applied Scientist  222200             USD
6                      Applied Scientist  136000             USD
7                         Data Scientist  219000             USD
...                                  ...     ...             ...
3747  Applied Machine Learning Scientist  423000             USD
3749                     Data Specialist  165000             USD
3750                      Data Scientist  412000             USD
3751            Principal Data Scientist  151000             USD
3752                      Data Scientist  105000             USD

      salary_in_usd employee_residence  remote_ratio company_location  \
3            175000                 CA           100               CA
4            120000                 CA           100               CA
5            222200                 US             0               US
6            136000                 US             0               US
7            219000                 CA             0               CA
...             ...                ...           ...              ...
3747         423000                 US            50               US
3749         165000                 US           100               US
3750         412000                 US           100               US
3751         151000                 US           100               US
3752         105000                 US           100               US

     company_size
3               M
4               M
5               L
6               L
7               M
...           ...
3747            L
3749            L
3750            L
3751            L
3752            S

[2665 rows x 11 columns]